{% extends 'admin/master.html.twig'%}
{% block content %}
<ol class="breadcrumb">
  <li class="active">Fakultas</li>
</ol>
<div class="content-box-large">
  <div class="panel-heading">
<a href="{{path('fakultas_tambah')}}" type="button" class="btn btn-default">Tambah</a>
<table class="table">
    <thead>
      <tr>
        <th>No id</th>
        <th>Nama Fakultas</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for data in isi %}
      <tr>
      <td>{{ data.getIdfakultas() }}</td>
      <td>{{ data.getNamafakultas() }}</td>
      <td><a href='{{path('fakultas_hapus',{'fk':data.getIdfakultas()})}}'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Hapus</a>&nbsp
          <a href='{{path('fakultas_edit',{'id':data.getIdfakultas()})}}'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</a>
      </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div></div>
{% endblock%}
